<!-- Banner -->

<Section id="slider" class="slider-section">
    <div class="container pt-5">
        <div class="img-bg-one"></div>
        <div class="img-bg-two"></div>
        <div id="carouselExampleCaptions" class="carousel slide carousel-height" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>About SAFRON</h5>
                            <p>SAFRON promote patients safety in medical facilities by learning about reported events in an
                                effort to reduce the likelihood of the events being repeated.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\Images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>About SAFRON</h5>
                            <p>SAFRON promote patients safety in medical facilities by learning about reported events in an
                                effort to reduce the likelihood of the events being repeated.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\Images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>About SAFRON</h5>
                            <p>SAFRON promote patients safety in medical facilities by learning about reported events in an
                                effort to reduce the likelihood of the events being repeated.</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\Images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </Section>

    <!-- Quick actions -->

    <div class="container">
        <div class="panel bg-white shadow p-4 panel-border">
            <div class="panel-heading">
                <h5 class="text-center quick-action-title mb-4">Quick Actions</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col text-center">
                        <a href="/searchincident-report">
                            <img src="assets\Images\quick action\Path 1046.svg" class="img-action p-2" alt="">
                            <p class="quick-action">Search Reports</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Group 139.svg" class="img-action p-2" alt="">
                            <p class="quick-action">Submit Report</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Path 1048.svg" class="img-action p-2" alt="">
                            <p class="quick-action">View Statistical Reports</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Group 1030.svg" class="img-action p-2" alt="">
                            <p class="quick-action">Search Documents & Links</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Path 1045.svg" class="img-action p-2" alt="">
                            <p class="quick-action">Browse Incidents by Process Step</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Group 192.svg" class="img-action p-2" alt="">
                            <p class="quick-action">View Instructions</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#">
                            <img src="assets\Images\quick action\Group 1305.svg" class="img-action p-2" alt="">
                            <p class="quick-action">Download Reports</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
    

    <!-- About Safron -->

    <div class="container mt-2">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\about safron\update.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">SAFRON Updates</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, possimus!</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\about safron\training.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Training</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\about safron\safety culture.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Safety Culture</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\about safron\reource.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Resources</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
                  <hr class="d-xl-none d-lg-none">
            </div>
        </div>
        <div class="row mt-3">
            <div class="saf-view-all text-center p-1"><a href="">View all</a></div>
        </div>
    </div>
    

    <!-- Latest Updates -->

    <div class="container mt-5">
        <h5 class="text-center letest-update-title mb-4">Latest Updates</h5>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0">
                    <img class="card-img-top" src="\assets\Images\letest update\appleTheory.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">The Bad Apple theory using new device</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, possimus!</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\letest update\newMisses.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Learning from new misses</h5>
                      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, dolor.</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\letest update\reviewAndReport.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Check, review & report With help of us</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, et.</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\Images\letest update\saftyAndQuality.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">E-learning on Safety & Quality in Radiotherapy</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, odio?</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
        </div>
        <div class="row mt-3">
            <div class="saf-view-all-updates text-center p-1"><a href="">View all updates</a></div>
        </div>
    </div>
    
    

    <!-- Featured Section -->

    <section id="feature" class="mt-4 pb-4 bg-feature">
        <div class="container pt-3">
            <h5 class="text-center feature-title mt-3 mb-5">Featured Reports, Documents & Links</h5>
            <div class="row mt-4">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    
                    <div class="card border-0 bg-transparent px-5">
                        <h5 class="feature-subtitle mb-3">Featured Incident Reports</h5>
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">Orthovoltage equipment not properly calibrated</h6>
                          <p class="card-text">Orthovoltage equipment transferred from one location to another. After relocation, commissioning, and use the errors in calibration of the unit were discovered. Incorrect orthovoltage output tables.</p>
                          <a href="javascript:void(0)" class="card-link"><small>Read more</small></a>
                        </div>
                        <hr>
                    </div>
                   
                    <div class="card border-0 bg-transparent px-5">
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">HDR vaginal cylinder brachytherapy treatment delivered to incorrect location</h6>
                          <p class="card-text">Patient received first of three intended deliveries of HDR vaginal cylinder brachytherapy on 6/19/2014. After the vaginal cylinder was inserted, a planar digital x-ray image of the placement was.</p>
                          <a href="javascript:void(0)" class="card-link"><small>Read more</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                   
                    <div class="card border-0 bg-transparent px-5">
                        <h5 class="feature-subtitle mb-3">Featured Documents & Links</h5>
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">Report No. 167- Guidelines by the AAPM and GEC-ESTRO</h6>
                          <p class="card-text">Although a multicenter, Phase III, prospective, randomized trial is the gold standard for evidence based medicine, it is rarely used in the evaluation of innovative devices because of many practical.</p>
                          <a href="javascript:void(0)" class="card-link"><small>Read more</small></a>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="card border-0 bg-transparent px-5">
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">ICRP Publication 97, Prevention of High-dose-rate Brachytherapy</h6>
                          <p class="card-text">Abstract - High-dose-rate (HDR) brachytherapy is a rapidly growing technique that has been replacing low-dose-rate (LDR) procedures over the last few years in both industrialised and developing.</p>
                          <a href="javascript:void(0)" class="card-link"><small>Read more</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    

