<div class="container">
    <div class="row">
        <h5 class="text-center add-banner-title mt-4"><span class="text-capitalize"> {{action}} </span> Banner</h5>
        <p class="text-center banner-p">Provide Banner Details</p>
    </div>

    <div class="panel p-3 shadow-sm mb-5 border-radius-5">
        <div class="panel-heading ps-3 pe-3"> 
            <h5 class="panel-title">Document Details</h5>
        </div>
        <div class="panel-body p-3">
            <!-- <form action="" [formGroup]="formbanner">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-2">
                            <label for="" class="form-label">Title <strong class="text-danger">*</strong></label>
                            <input type="text" name="" required id="" formControlName="title" placeholder="Enter document title here" class="form-control form-control-sm">
                        </div>
                        <div class="form-group mb-2">
                            <label for="" class="form-label">URL <strong class="text-danger">*</strong></label>
                            <input type="text" name="" required id="" formControlName="url" placeholder="Enter document URL here" class="form-control form-control-sm">
                        </div>
                        <div class="form-group mb-2">
                            <label for="" class="form-label">Display Order <strong class="text-danger">*</strong></label>
                            <input type="text" name="" required id="" formControlName="order" value="1" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group mb-2">
                            <label for="" class="form-label">Description</label>
                            <textarea name="" id="" class="form-control bannner-desc" formControlName="desc" cols="30" rows="3"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <label for="" class="form-label w-100">File <strong class="text-danger">*</strong></label>
                            <input type="file" class="form-control border-light form-control-sm" name="" id="">
                            <p class="text-secondary mt-2">Image size should be in 245 X 138 pixels ratio</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <small>Tip: Do not forgot to save whenever you make changes to a page.</small>
                </div>
            </form> -->
        </div>
        <div class="panel-footer border-light p-3 justify-content-end border-top">
            <a routerLink="/banner" class="btn btn-sm btn-light btn-rounded ms-2 float-end">Cancel</a>
            <a class="btn btn-sm btn-primary btn-rounded ms-2 float-end">Save</a>
        </div>
    </div>
</div>