.footer-bg{
    background: #3366CC 0% 0% no-repeat padding-box; 
    opacity: 1;
}
.footer-p1{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    /* font: normal normal bold 18px/20px Helvetica Neue; */
    letter-spacing: 0px;
    color: #DEEAFE;
    opacity: 1;
}

.footer-p2{
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    /* font: normal normal normal 14px/21px Helvetica Neue; */
    letter-spacing: 0px;
    color: #DEEAFE;
    opacity: 1;
}
.footer-p3{
    text-align: right;
    color: #DEEAFE;
    font-size: 13px;
    font-weight: normal;
    /* font: normal normal normal 14px/21px Helvetica Neue; */
    letter-spacing: 0px;
    opacity: 1;
}