/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Helvetica";
    src: url("assets/fonts/helvetica-neue-master/HelveticaNeue-Regular.otf");
}

body {
    font-family: 'Helvetica',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: normal 13px;
    letter-spacing: inherit;
    color: #4B4B4B;
}

a {
    color: #0d6efd;
    text-decoration: none !important;
}

.breadcrumb-item.active {
    color: #0d6efd;
}
.btn-rounded{
    min-width: 90px;
    border-radius: 20px;
    border: 1px solid #c1c1c1;
}
.modal-btn-close{
    position: absolute;
    top: -2%;
    right: -1%;
    border: 2px solid #fff;
    border-radius: 35px;
    background-color: #000;
}
.modal-btn-close > i{
    font-size: 19px;
    color: #fff;
}
