<!-- Banner -->

<Section id="slider" class="slider-section">
    <div class="container pt-5">
        <div class="img-bg-one"></div>
        <div class="img-bg-two"></div>
        <div id="carouselExampleCaptions" class="carousel slide carousel-height" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>{{data.title}}</h5>
                            <p>{{data.description}}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>{{data.title2}}</h5>
                            <p>{{data.description1}}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-white">
                            <div class="slider-padding d-none d-sm-block"></div>
                            <h5>{{data.title3}}</h5>
                            <p>{{data.description3}}</p>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <img src="\assets\images\ree copy.png" class="d-block w-100 image-h-w" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    </Section>

    <!-- Quick actions -->
    <div class="container">
        <div class="panel bg-white shadow p-4 panel-border">
            <div class="panel-heading">
                <h5 class="text-center quick-action-title mb-4">{{'Quick Actions' | translate}}</h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col text-center">
                        <a href="/searchincident-report">
                            <img src="assets\images\quick action\Path 1046.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'Search Reports' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="/submitincident-report">
                            <img src="assets\images\quick action\Group 139.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'Submit Report' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="/statistical-report">
                            <img src="assets\images\quick action\Path 1048.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'View Statistical Reports' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="/documents-links">
                            <img src="assets\images\quick action\Group 1030.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'Search Documents & Links' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="/process-steps">
                            <img src="assets\images\quick action\Path 1045.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'Browse Incidents by Process Step' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="javascript:void(0)">
                            <img src="assets\images\quick action\Group 192.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'View Instructions' | translate}}</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="javascript:void(0)">
                            <img src="assets\images\quick action\Group 1305.svg" class="img-action p-2" alt="">
                            <p class="quick-action">{{'Download Reports' | translate}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
       
    </div>
    

    <!-- About Safron -->

    <div class="container mt-2">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\about safron\update.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.safronUpdates}}</h5>
                      <p class="card-text">{{data.updatedetails}}</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\about safron\training.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.training}}</h5>
                      <p class="card-text">{{data.trainingDetails}}</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\about safron\safety culture.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.safetyculture}}</h5>
                      <p class="card-text">{{data.safetyCultureDetails}}</p>
                    </div>
                  </div>
                  <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\about safron\reource.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.Resources}}</h5>
                      <p class="card-text">{{data.ResourcesData}}</p>
                    </div>
                  </div>
                  <hr class="d-xl-none d-lg-none">
            </div>
        </div>
        <div class="row mt-3">
            <div class="saf-view-all text-center p-1"><a href="">{{data.Viewall}}</a></div>
        </div>
    </div>
    

    <!-- Latest Updates -->

    <div class="container mt-5">
        <h5 class="text-center latest-update-title mb-4">{{'Latest Updates' | translate}}</h5>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0">
                    <img class="card-img-top" src="\assets\images\latest update\appleTheory.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.latestUpdate1}}</h5>
                      <p class="card-text">{{data.latestUpdate1Details}}</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\latest update\newMisses.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.latestUpdate2}}</h5>
                      <p class="card-text">{{data.latestUpdate2Details}}</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\latest update\reviewAndReport.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.latestUpdate3}}</h5>
                      <p class="card-text">{{data.latestUpdate3Details}}</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="card border-0" >
                    <img class="card-img-top" src="\assets\images\latest update\saftyAndQuality.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{data.latestUpdate4}}</h5>
                      <p class="card-text">{{data.latestUpdate4Details}}</p>
                    </div>
                </div>
                <hr class="d-lg-none d-xl-none">
            </div>
        </div>
        <div class="row mt-3">
            <div class="saf-view-all-updates text-center p-1"><a href="">{{'View all updates' | translate}}</a></div>
        </div>
    </div>
    
    

    <!-- Featured Section -->

    <section id="feature" class="mt-4 pb-4 bg-feature">
        <div class="container pt-3">
            <h5 class="text-center feature-title mt-3 mb-5">{{'Featured Reports, Documents & Links' | translate}}</h5>
            <div class="row mt-4">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    
                    <div class="card border-0 bg-transparent px-5">
                        <h5 class="feature-subtitle mb-3">{{'Featured Incident Reports' | translate}}</h5>
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">{{data.featuredIncidentText}}</h6>
                          <p class="card-text">{{data.featuredIncidentTextDescription}}</p>
                          <a href="javascript:void(0)" class="card-link"><small>{{'Read more' | translate}}</small></a>
                        </div>
                        <hr>
                    </div>
                   
                    <div class="card border-0 bg-transparent px-5">
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">{{data.hdrtext}}</h6>
                          <p class="card-text">{{data.hdrtextDescription}}</p>
                          <a href="javascript:void(0)" class="card-link"><small>{{'Read more' | translate}}</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                   
                    <div class="card border-0 bg-transparent px-5">
                        <h5 class="feature-subtitle mb-3">{{'Featured Documents & Links' | translate}}</h5>
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">{{data.featureHeading}}</h6>
                          <p class="card-text">{{data.featureHeadingTranscription}}</p>
                          <a href="javascript:void(0)" class="card-link"><small>{{'Read more' | translate}}</small></a>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="card border-0 bg-transparent px-5">
                        <div class="card-body p-0">
                          <h6 class="card-subtitle mb-2 text-muted">{{data.icprheading}}</h6>
                          <p class="card-text">{{data.icprheadingDescription}}</p>
                          <a href="javascript:void(0)" class="card-link"><small>{{'Read more' | translate}}</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    

